@font-face {
    font-family: 'fontawesome-webfont';
    src: url(font/opensans-regular-webfont.woff);
}
.header {
    display: flex;
    flex-direction: column;
    height: 948px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/img/fondo-bienvenido-grande.jpg);
    color: white;
}

.barra{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.455);
    height: 100px;
    justify-content: space-between;
    padding-top:  10px;
    align-items: center;

}

.titulo-nav{
    margin-left: 300px;
    font-weight: bold;
}

.contenido{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}


.btn-group{
    display: flex;
    margin-right: 250px;
    font-size: 20px;
    height: 70px;
    
}
.button{
    background-color: #f0604000;
    border-style: none;
    color: white;
    border-radius: 0%;
    margin: 10px;
    transition: 200ms ease;
    cursor: pointer;
}
.button:hover{
    background-color: #f05f40;
}

.boton3{
    font-size: 30px;
}
.boton4{
    font-size: 70px;
    margin-top: 25px;
}

#contacto{
    width: 350px;
    height: 60px;
    background-color: #f05f40;
    border-style: none;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    font-size: 25px;
    margin-top: 25px;
    transition: 200ms ease;
}

#contacto:hover{
    background-color: #20202000;
    color: #f05f40;
}
.medio {
    background-color: #f05f40;

}

#img2 {
    width: 200px;
}

.naranja {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
}

.QS{
    margin-top: 10px;
    font-weight: bold;
}

.LORE{
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 200px;
    animation: 2s alternate slidein;
}

.button2:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.button2 {
    height: 70px;
    width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    font-size: 25px;
    margin-top: 20px;
    
}

.mediofinal{
    height: 600px;
}
.titulo3{
    font-size: 70px;
    margin-top: 80px;
    text-align: center;
}


.servicios {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-around;
    

}

.T1{
    
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    
}

.T2{
    font-size: 15px;
    text-align: center;
}

.S1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

svg{
    margin: 0%auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    fill: #f05f40;
    justify-content: center;
}



.gris{
    background-color: #424141;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: white;
}

.proyectos{
    margin-top: 35px;
    text-align: center;
    font-size: 100px;
}

.imgcontend{

    padding: 10px 0;
    margin: 0 auto;
   
}

.contend1 img, .contend2 img{
    margin: 15px;
    width: 400px;
    transition: 200ms ease;
}

.final{
    padding-top: 25px;
    height: 100px;
    background-color: #202020;
    color: white;
    
}
#copy{
    text-align: center;
    font-size: 16px;
}

.contend1 #im1:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
.contend1 #im2:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
.contend1 #im3:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
.contend2 #im4:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
.contend2 #im5:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
.contend2 #im6:hover{
    cursor: pointer;
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
