@font-face {
    font-family: 'fontawesome-webfont';
    src: url(font/opensans-regular-webfont.woff);
}
header {
    background-image: url(/img/fondo-bienvenido-grande.jpg);
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/img/fondo-bienvenido-grande.jpg);
    color: white;
}

.contenido{
    align-items: center;
}
.medio {
    background-color: #f05f40;

}

#img2 {
    width: 200px;
}

.naranja {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white
}

#inf {
    background-color: none;
}

.servicios {
    display: flex;

}

#i {
    fill: #f05f40
}